<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row justify-content-start">
        <div class="col-12 col-md order-1">
            <img class="mb-2" src="" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted">© 2017-2019</small>
        </div>
        <div class="col-6 col-md order-2">
            <h5>{{'footer.info' | translate }}</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" [routerLink]="['/about_us']" routerLinkActive="router-link-active" >{{'footer.about' | translate }}</a></li>
                <li><a class="text-muted" [routerLink]="['#']">{{'footer.contacts' | translate }}</a></li>
                <li><a class="text-muted" [routerLink]="['#']">{{'footer.legals' | translate }}</a></li>
            </ul>
        </div>
        <div class="col-6 col-md order-3">
            <h5>{{'footer.resources' | translate }}</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" [routerLink]="['#']">{{'footer.reportNews' | translate }}</a></li>
                <li><a class="text-muted" [routerLink]="['#']">{{'footer.reportMistake' | translate }}</a></li>
                <li><a class="text-muted disabled" [routerLink]="['#']">{{'footer.jobs' | translate }}</a></li>
            </ul>
        </div>
    </div>
</footer>