<div class="p-4 bg-light mb-3 rounded">
    <h4 class="font-italic"> {{ 'archives' | translate }} </h4>
    <table class="table table-dark table-sm table-borderless mb-0 rounded-top">
        <thead>
            <tr>
                <th scope="col"></th>
                <th colspan="3" class="month-name" (click)="showMonthes = !showMonthes; showYears = false"> {{ getMonthName(pickedDate) }} </th>
                <th colspan="3" (click)="showYears = !showYears; showMonthes = false"> {{ currentYear }} </th>
                <th scope="col"></th>
            </tr>
        </thead>
    </table>

    <!-- Calendar -->
    <table class="table table-sm table-borderless">
        <thead *ngIf="!showMonthes && !showYears">
            <tr class="table-secondary">
                <th scope="col"> {{ 'calendar.week1day' | translate }} </th>
                <th scope="col"> {{ 'calendar.week2day' | translate }} </th>
                <th scope="col"> {{ 'calendar.week3day' | translate }} </th>
                <th scope="col"> {{ 'calendar.week4day' | translate }} </th>
                <th scope="col"> {{ 'calendar.week5day' | translate }} </th>
                <th scope="col"> {{ 'calendar.week6day' | translate }} </th>
                <th scope="col"> {{ 'calendar.week7day' | translate }} </th>

            </tr>
        </thead>
        <tbody *ngIf="!showMonthes && !showYears">
            <tr *ngFor="let week of getMonthCalendar(pickedDate)">
                <td scope="col" *ngFor="let day of week" [ngClass]="[day.dayClass]" [routerLink]="['/news']" [queryParams]="{ 'archives': day.query }" queryParamsHandling="merge"> {{ day.date }} </td>
            </tr>
        </tbody>
    </table>

    <!-- Month picker -->
    <table class="table table-sm table-borderless">
        <tbody *ngIf="showMonthes && !showYears">
            <tr *ngFor="let rows of monthesNumberArray">
                <th colspan="2" class="month-name" (click)="onPickMonth(col)" *ngFor="let col of rows">{{ getMonthName(null, col) }}</th>
            </tr>
        </tbody>
    </table>
</div>