<app-breadcrump [title]="news.title[this.translate.currentLang]"></app-breadcrump>
<div class="row">
    <div class="col-md-8 mb-4">
        <h3> {{ news.title[this.translate.currentLang] }} </h3>
        <p><small> {{ news.author }} at {{ news.date | dateFormat: this.translate.currentLang }} </small></p>
        <div [innerHTML]="news.article[this.translate.currentLang]"> </div>
    </div>

    <div class="col-md-4">
        <app-rightsidebar></app-rightsidebar>
    </div>
</div>

<app-related-news></app-related-news>