.dropdown-toggle {
    border-color: #e6e6e6;
    color: #6c757d!important;
}

.dropdown-toggle::after {
    color: #e6e6e6;
}

.dropdown-item {
    color: #6c757d!important;
}

.dropdown-item:hover {
    background-color: #e6e6e6;
}