<p>
    Current Page: {{ currentPage }}
</p>

<div class="row">
    <div class="col-md-8">
        <!-- Newslist cards -->
        <div *ngFor="let news of this.newslistService.newsList">
            <app-newscard [news]="news"></app-newscard>
        </div>

        <!-- Pagination -->
        <app-pagination *ngIf="pages && pages !== 1" [pages]="pages" [currentPage]="currentPage"></app-pagination>
    </div>

    <!-- Rightside Bar -->
    <div class="col-md-4">
        <app-rightsidebar></app-rightsidebar>
    </div>
</div>